<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAVORITES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/favs.css">
</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    
            <a class="navbar-brand" href="#">
                <img src="./public/images/logo.png" alt="Logo" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container-fluid" id="navbarNav" style="justify-content: space-between;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#main-container">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#video-outputs">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#fav-container">Favorites</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="#aboutUsBackground">About Us</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLogin">
                        Log In / Sign Up
                    </button>
                    <button type="button" class="btn btn-primary">
                        Sign Out
                    </button>
    
                </div>
    
            </div>
    </nav>
    <!-- end of navbar  -->

    <!-- Favorites container  -->

                    {{{body}}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qi1nUqy0LHchNeh1ex+6eLY1I4ifOBw7eL4IGDdc5LWuImOH0P3gTNzZGhsJ9dfD"
        crossorigin="anonymous"></script>
</body>
<script src="/js/logout.js"></script>
</html>