    <!-- Favorites container  -->
    <div id="fav-container">
        <div class="container-fluid">
            <h2>Your Favorites</h2>
            <div id="favoritesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">

                    {{#each favorites.Song}}
                    <div class="carousel-item {{#if @first}}active{{/if}}">
                        <div class="row justify-content-center" id="favoritesPlaylist">
                            {{#each this}}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.song_title}}</h5>
                                        <p class="card-text">{{this.artist}}</p>
                                        <a href={{this.youtube_url}} class="btn btn-primary">Watch Video</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#favoritesCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#favoritesCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
