/* front-end styling goes here... */

:root {
    --color1: #402090;
    --black: #212529;
    --purple: ##b187ff;
    --pnk: #fc97d0;
    --tea: #60e1c4;


}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fG11c2ljfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60');
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow:0 0 40px var(--pnk);
    font-weight: bold;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    textalign: center;
    margin-bottome: 10px;
}

.video-container {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
}

.video-item {
    flex-shrink: 0;
    margin-right: 10px;
}

.search-box {
    width: 700px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-input {
    width: 300px;
    padding: 8px;
    font-size: 30px;
    margin-right: 20px;
}


.output-container{
  width: 650px;
  padding: 5rem;
  background-color:navy;

}

/* LOG IN / SIGN UP PAGE CSS */

.login-navbar {
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.login-navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.login-navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 245px;
}

.flip-container {
  perspective: 1000px;
  line-height: 45px;
  font-weight: bold;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, 
.front, 
.back {
  width: 100%;
  height: 100%;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.form-box {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  border: 2px solid var(--tea);
  background-color: #212529;
  box-shadow: 0 0 40px var(--tea);
}

.form-box h2 {
  text-align: center; 
  color: white;
}

.form-box p, 
.form-box label {
  color: white;
}

.form-box a{ 
  color: var(--pnk);
}

#log-in-btn {
    background-color: #fc97d0;
    border: 2px solid #fc97d0;
    border-radius: 46px;
    
}

#sign-up-btn {
    background-color: #b187ff;
    border: 1px solid #b187ff;
    border-radius: 46px;
}

.login-navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 245px;
}

.signInForm {
    background-color: rgb(86, 86, 92);
    color: white;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 25px;
    line-height: 35px;
    border: 4px solid var(--color1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#sign-in-btn {
    background-color: var(--color1);
    border: 1px solid black;
}

#sign-up-btn {
    background-color: var(--color1);
    border: 1px solid black;
}

#password {
    margin-bottom: 15px;
}

/* ----------------- ABOUT US PAGE  --------------- */

.about-us-card {
    background-color: rgb(86, 86, 92);
    color: white;
    /* height: 500px;
    width: 700px; */
    margin: 0 auto;
    margin-top: 10%;
    border: 3px solid var(--color1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

















/* Media QUERIES */

@media (max-width: 767px) {
  .form-box{
    max-width: 100%;
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .form-box {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .form-box {
    max-width: 400px;
  }